.product {
    padding: 5%;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    background-color: #a5c5de;
    font-family: 'Lato', sans-serif;
}
#product_img {
    width: 800px;
    height: 800px;
    float: left;
    text-align: center;
    background-color: white;
    margin-right: 2%;
    margin-bottom: 2%;
}
#product_img img {
    max-height: 800px;
    max-width: 800px;
    width: 100%;
    height: 100%;
}
#product_img img:hover {
    text-align: center;
    transform:scale(1.05);
    border-radius: 15px;
}
#product_name {
    font-size: 50px;
    font-weight: bold;
}
#product_price {
    font-size: 40px;
    font-weight: bold;
}
#product_category {
    font-size: 25px;
    font-style: italic;
    padding-left: 20px;
    padding-bottom: 10px;
}
#product_ownerName {
    margin-top: 10px;
    font-size: 30px;
}
#product_ownerEmail {
    font-size: 30px;
}
#product_ownerEmail a {
    color: #2f6f9b;
}
#product_ownerEmail a:hover {
    font-size: 30px;
    color: black;
}
#product_phone {
    font-size: 30px;
}
#product_desc {
    font-size: 30px;
    padding: 5%;
    width: 90%;
    background-color: #d8e2ed;
    font-size: px;
    float: left;
    border-radius: 15px;
    border: 10px solid #5081a4;
}
#product_desc:hover {
    background-color: #59cbe7; 
}
